doctype html 
html
head 
    style
        include ../public/stylesheets/style.css
    title New Post

body
    <form method="POST" action"/new">
        <label class='x'>
            <input type='text' name='name'>Name
        </label>


            <label class='x'>
        <input type='text' name='message'>Message
        </label>


        <label >
            <input name='date'>Date
        </label>
        <button type="submit">#{title}</button>
    </form>
      