doctype html 
html 
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='Some description')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      title Message Board
      style 
        include ../public/stylesheets/formstyle.css
    title New Post

<body class='formPageBody'>
    <form class='newMsgForm' method="POST" action"/new">
        <label>
            <input required type='text' minlength=2 name='name' maxlength=25 placeholder='Name'>
        </label>
        <label>
            <textarea class='textareaInput' placeholder='Message...' required  minlength=2 maxlength=600 name='message' >
            </textarea>
        </label>
        <button type="submit" class='submitBtn'>Submit</button>
    </form>
</body>
      