//- extends layout

//- block content
//-   h1= title
//-   p #{subtitle}


doctype html 
html 
    head
      title Message Board
    body
    p #{title} <button ><a href='./new'>New</a> </button>
    - const name = {subtitle}
    each value in name
      ul
       li= value