doctype html 
html 
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='Some description')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Message Board
      style 
        include ../public/stylesheets/style.css
    </head>
    body
        <header class='headerWrap'>
          h1 #{title}
          <h2 class='welcomeMsgWrap'> Welcome to the dev bulletin board!<br> Post your recent thoughts on tech stacks, the job market or just general web development stuff here!</h2>
          a(class='newMsgBtn' href='/new') New Post
        </header> 
        <section class='postsWrap'>
          each message in subtitle
            <div class='homePagePosts'>            
              <h3 class='userDiv'> User:</h3><span class='nameDiv'>#{message.user}</span>
              <h3 class='messageDiv'> Message:</h3> <p>#{message.text}</p>
              <h4 class='dateDiv'> Date:</h4> #{message.added}
            </div>
        </section>
        
      
      
