body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
}
a {
  color: #00B7FF;
}

.x {
  font-size: 1em ;
  color: red;
}

input {
  height: 10vh;
  width: 50vw;
  border-color: black;
  border-style: solid;
}
